.form
	form(name='createuser'
		data-ng-submit='home.submitcreateuser(user);')
		
		fieldset.form-fieldset
			legend.form-legend-title
				span.form-legend-title-span ou

			input.form-input(type='text'
				placeholder='Nome completo'
				maxlength='200'
				data-ng-model='user.fullName'
				data-ng-class=''
				data-ng-required='true'
				name='fullName')


			input.form-input(type='email'
				placeholder='Email'
				maxlength='200'
				data-ng-model='user.email'
				data-ng-class=''
				data-ng-required='true'
				data-ng-pattern='home.validate.email'
				name='email')

			.row
				input.form-input.input-cpf(type='text'
					placeholder='CPF'
					maxlength='14'
					data-ng-model='user.cpf'
					data-ng-class=''
					data-ng-required='true'
					data-ng-pattern='home.validate.cpf'
					name='cpf')
				
				
				input.form-input.input-cellphone(type='text'
					placeholder='Celular'
					maxlength='16'
					data-ng-model='user.cellphone'
					data-ng-class=''
					data-ng-required='true'
					data-ng-pattern='home.validate.cellPhone'
					name='cellphone')
			

			.row.input-pass-group
				input.form-input.input-password(type='password'
					placeholder='Senha'
					maxlength='10'
					data-ng-model='user.pass'
					data-ng-class='form-input'
					data-ng-required='true'
					name='pass')
				
				
				input.form-input.input-password(type='password'
					placeholder='Confirme sua senha'
					maxlength='10'
					data-ng-model='user.confirmpass'
					data-ng-class='form-input'
					data-ng-required='true'
					name='confirmpass')


			.row.input-row-checkbox-agreement
				label.form-input-label-agreement Li e concordo com 
					a.form-input-emphasys(href='#') os termos de uso
					input.form-input.form-input-checkbox(type='checkbox'
						data-ng-model='user.agree'
						data-ng-class='form-input'
						data-ng-required='true'
						name='agree')


			input.form-submit.medium-up-9(type='submit'
				data-ng-class=''
				value='Cadastrar'
				data-ng-submit='home.submitcreateuser(user);'
				data-ng-disabled='createuser.$invalid'
				data-ng-if='user.pass === user.confirmpass')



	.success-response-box(data-ng-if='home.successdata'
		data-channelid='{{home.successdata.channelId}}')
		h3.success-response-box-title Usuário cadastrado com sucesso
		
		dl.success-response-box-definition
			dt.success-response-box-definition-title Nome:
			dd.success-response-box-definition-description {{home.successdata.person.name}} {{home.successdata.person.lastName}}
		
		dl.success-response-box-definition
			dt.success-response-box-definition-title CPF: 
			dd.success-response-box-definition-description {{home.successdata.person.taxDocument.number}}
		
		dl.success-response-box-definition
			dt.success-response-box-definition-title E-mail:
			dd.success-response-box-definition-description {{home.successdata.email.address}} 
				strong(data-ng-show='home.successdata.email.confirmed') (endereço confirmado)
		
		dl.success-response-box-definition
			dt.success-response-box-definition-title Seu nome de usuário:
			dd.success-response-box-definition-description.untouchable {{home.successdata.login}}

		p.success-response-box-text
			- var linkText = 'clique aqui para ativar a sua conta.'
			a.success-response-box-link(href='{{home.successdata._links.self.href}}'
				target='_blank'
				rel='external'
				title= '#{linkText}'
				data-createdAt='{{home.successdata.createdAt}}') #{linkText}

	
		

